
body{
    background-image: url(bg.jpg);
}
    
   
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
   
    button {
      background-color:  #0275d8;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 10%;
    }
    
    
    button:hover {
      opacity: 0.8;
      background-color: skyblue;
      color: rgb(0, 0, 0);
    }
    
    
    .btn {
      width: 3.4cm;
      padding: 10px 18px;
      background-color: #000000;
      color: rgb(255, 255, 255);
    }
    
   
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }
    
    img.avatar {
      width: 10%;
      border-radius: 100%;
    }
    
 
    .container {
      padding: 16px;
    }
    
 
    span.password {
      float: right;
      padding-top: 16px;
    }
    
  
    @media screen and (max-width: 300px) {
      span.password {
        display: block;
        float: none;
      }
      .btn {
        width: 100%;
      }
    }
